<%= form_with(model: reader, class: "w-full max-w-md") do |form| %>
  <% if reader.errors.any? %>
    <div class="alert alert-error shadow-sm mb-4">
      <ul class="list-disc list-inside text-sm">
        <% reader.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control mb-3">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control mb-3">
    <%= form.label :location, class: "label" %>
    <%= form.text_field :location, class: "input input-bordered w-full" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
