<div class="mx-auto">
    <% if flash[:notice] %>
    <div role="alert" class="alert">
        <p id="notice"><%= notice %></p>
    </div>
    <% end %>

    <%= render @reader %>

    <div class="row">
        <strong class="label font-bold">API Keys:</strong>
        <%= link_to 'New API key', new_api_key_path(:bearer_id => @reader, :bearer_type => Reader), :class=>'link' %>
        <% if @reader.api_keys.exists? %>
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Create Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @reader.api_keys.each do |apikey| %>
            <tr>
                <td><%= apikey.id %></td>
                <td><%= ApiKey.find(apikey.id).created_at %></td>
                <td></td>
            </tr>
            <% end %>
            </tbody>
        </table>
        <% else %>
        None
        <% end %>
    </div>

    <div>
    <%= link_to "Edit this reader", edit_reader_path(@reader), :class=>'link' %> |
    <%= link_to "Back to readers", readers_path, :class=>'link' %>

    <%= button_to "Destroy this reader", @reader, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    </div>
</div>
