<p style="color: green"><%= notice %></p>

<%= render @reader %>

<div class="row">
  <div class="col-sm">
      <strong>API Keys:</strong>
      <%= link_to 'New API key', new_api_key_path(:bearer_id => @reader, :bearer_type => Reader) %>
      <% if @reader.api_keys.exists? %>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
              <th>ID</th>
              <th>Create Date</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @reader.api_keys.each do |apikey| %>
          <tr>
            <td><%= apikey.id %></td>
            <td><%= ApiKey.find(apikey.id).created_at %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      None
      <% end %>
    </div>
</div>

<div>
  <%= link_to "Edit this reader", edit_reader_path(@reader) %> |
  <%= link_to "Back to readers", readers_path %>

  <%= button_to "Destroy this reader", @reader, method: :delete, class:"btn btn-danger" %>
</div>
