<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-error shadow-lg">
      <ul class="list-disc">
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-1">
    <%= form.label :first_name, class:"label" %>
    <%= form.text_field :first_name, class:"input" %>
  </div>

  <div class="mt-1">
    <%= form.label :last_name, class:"label" %>
    <%= form.text_field :last_name, class:"input" %>
  </div>

  <div class="mt-1">
    <div class="w-full"><%= form.label :email, class:"label" %></div>
    <%= form.email_field :email, class:"input validator" %>
  </div>

  <div class="mt-1">
    <%= form.label :password, class:"label" %>
    <%= form.password_field :password, class:"input" %>
  </div>

  <div class="mt-1">
    <%= form.label :password_confirmation, class:"label" %>
    <%= form.password_field :password_confirmation, class:"input" %>
  </div>

  <div class="mt-6">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
