<div class="mx-auto">
    <% if flash[:notice] %>
    <div role="alert" class="alert">
        <p id="notice"><%= notice %></p>
    </div>
    <% end %>

    <div class="row">
        <strong class="label">First Name:</strong>
        <%= @user.first_name %>
    </div>

    <div class="row">
        <strong class="label">Last Name:</strong>
        <%= @user.last_name %>
    </div>

    <div class="row">
        <strong class="label">Email:</strong>
        <%= @user.email %>
    </div>

    <div class="row">
      <strong class="label">API Keys:</strong>
        <%= link_to 'New API key', new_api_key_path(:bearer_id => @user, :bearer_type => User), :class=>'link' %>
        <% if @user.api_keys.exists? %>
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Create Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @user.api_keys.each do |apikey| %>
            <tr>
                <td><%= apikey.id %></td>
                <td><%= ApiKey.find(apikey.id).created_at %></td>
                <td></td>
            </tr>
            <% end %>
            </tbody>
        </table>
        <% else %>
        None
        <% end %>
    </div>

    <%= link_to 'Edit', edit_user_path(@user), :class=>'link' %> |
    <%= link_to 'Back', users_path, :class=>'link' %>
</div>
