<%= form_with(model: api_key, local: true) do |form| %>
  <% if api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_key.errors.count, "error") %> prohibited this API Key from being saved:</h2>

      <ul>
      <% api_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment, class:"form-label" %>
    <%= form.text_field :comment, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
