<%= form_with(model: api_key, local: true) do |form| %>
  <% if api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_key.errors.count, "error") %> prohibited this API Key from being saved:</h2>

      <ul>
      <% api_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-1">
    <%= form.label :bearer_id, class:"label" %>
    <%= form.text_field :bearer_id, class:"input" %>
  </div>

  <div class="mt-1">
    <%= form.label :bearer_type, class:"label" %>
    <%= form.text_field :bearer_type, class:"input" %>
  </div>

  <div class="mt-1">
    <%= form.label :comment, class:"label" %>
    <%= form.text_field :comment, class:"input" %>
  </div>

<% if api_key.token %>
  <div class="mt-1">
    <%= form.label :token, class:"label" %>
    <%= form.text_field :token, class:"input" %>
  </div>
<% end %>

  <div class="mt-1">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
