<p id="notice"><%= notice %></p>

<h1>API Keys</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Bearer ID</th>
      <th>Bearer Type</th>
      <th>Comment</th>
      <th>Create Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= api_key.id %></td>
        <td><%= api_key.bearer_id %></td>
        <td><%= api_key.bearer_type %></td>
        <td><%= api_key.comment %></td>
        <td><%= api_key.created_at %></td>
        <td><%= link_to 'Edit', edit_api_key_path(api_key) %> | <%= link_to 'Destroy', api_key_path(api_key), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
