<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: [@user, :password, token: @user.confirmation_token],
        html: { method: :put } do |form| %>
    <div class="password-field mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="submit-field">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
