<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table>
  <thead>
    <tr>
      <th>EPC</th>
      <th>PC</th>
      <th>Type</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Last Seen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.epc %></td>
        <td><%= tag.pc %></td>
        <td><% if tag.tag_type %><%= tag.tag_type.name %><%else%>Unknown<%end%></td>
        <td><%= tag.created_at %></td>
        <td><%= local_time(tag.updated_at) %></td>
        <td><%= local_time(tag.last_tag_scan) %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
