<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>EPC</th>
      <th>Description</th>
      <th>PC</th>
      <th>Type</th>
      <th><%= sortable "created_at", "Created" %></th>
      <th><%= sortable "updated_at", "Updated" %></th>
      <th>Last Seen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
        <% if tag.id.present? %>
      <tr>
        <td><%= tag.epc %></td>
        <td><%= tag.description %></td>
        <td><% if tag.pc.present? %><%= tag.pc %><%else%>Unknown<%end%></td>
        <td><% if tag.tag_type %><%= tag.tag_type.name %><%else%>Unknown<%end%></td>
        <td><% if tag.created_at.present? %><%= tag.created_at %><%else%>Unknown<%end%></td>
        <td><% if tag.updated_at.present? %><%= local_time(tag.updated_at) %><%else%><%end%></td>
        <td><% if tag.last_seen_at.present? %><%= local_time(tag.last_seen_at) %><%else%><%end%></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag_path(tag), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
