<p id="notice"><%= notice %></p>

<p>
  <strong>Epc:</strong>
  <%= @tag.epc %>
  (DEC = <%= @tag.epc_dec %>)
</p>

<p>
  <strong>PC:</strong>
  <table border>
      <tr>
          <th>Raw</th>
          <th>Len</th>
          <th>UserMemory</th>
          <th>XPC</th>
          <th>NSI</th>
          <th>AFI</th>
      </tr>
      <tr>
          <td><%= @tag.pc %></td>
          <td>
            <%= @tag.pc_decode.len %>
          </td>
          <td>
            <%= @tag.pc_decode.user_memory %>
          </td>
          <td>
            <%= @tag.pc_decode.xpc %>
          </td>
          <td>
            <%= @tag.pc_decode.nsi %>
          </td>
          <td>
            <%= @tag.pc_decode.afi.to_hex %>
          </td>
      </tr>
  </table>
</p>

<% if @tag.tag_type %>
<p>
  <strong>Tag Type:</strong>
  <%= @tag.tag_type.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
