<p id="notice"><%= notice %></p>

<p>
  <strong>Epc:</strong>
  <%= @tag.epc %>
  (DEC = <%= @tag.epc_dec %>)
</p>

<p>
  <strong>PC:</strong>
  <table border>
      <tr>
          <th>Raw</th>
          <th>Len</th>
          <th>UserMemory</th>
          <th>XPC</th>
          <th>NSI</th>
          <th>AFI</th>
      </tr>
      <tr>
        <% if !@tag.pc.blank? %>
          <td><%= @tag.pc %></td>
          <td>
            <%= @tag.pc_decode.len %>
          </td>
          <td>
            <%= @tag.pc_decode.user_memory %>
          </td>
          <td>
            <%= @tag.pc_decode.xpc %>
          </td>
          <td>
            <%= @tag.pc_decode.nsi %>
          </td>
          <td>
            <%= @tag.pc_decode.afi.to_hex %>
          </td>
        <% end %>
      </tr>
  </table>
</p>

<% if @tag.tag_type %>
<p>
  <strong>Tag Type:</strong>
  <%= @tag.tag_type.name %>
</p>
<p>
  <strong>Tag decoded data:</strong>
  <%= render "uii_decode" %>
</p>
<% end %>
<p>
<strong>Last 20 scans</strong>
<table border>
    <tr>
        <th>TagScan ID</th>
        <th>Antenna</th>
        <th>RSSI</th>
        <th>Create Date</th>
        <th>Image Attached?</th>
    </tr>
<% @tag.tagscans.last(20).each do |scan| %>
    <tr>
        <td><%= link_to(scan.id, url_for(scan)) %></td>
        <td><%= scan.antenna %></td>
        <td><%= scan.rssi %></td>
        <td><%= scan.created_at %></td>
        <td><%= scan.image.attached? %>
        <% if scan.image.attached? %>
          <%= link_to(image_tag(scan.image.variant(resize_to_limit: [100,100])), url_for(scan.image)) %>
        <% end %>
        </td>
    </tr>
<% end %>
</table>

<% if @tag.authorizations.size > 0 %>
<p>
<strong>Authorizations:</strong>
<ul>
<% @tag.authorizations.ids.each do |auth_id| %>
    <li><%= Authorization.find(auth_id).name %></li>
<% end %>
</ul>
</p>
<% end %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
