<%= form_with(model: authorization, local: true) do |form| %>
  <% if authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% authorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-1">
    <%= form.label :name, class:"label" %>
    <%= form.text_field :name, {id: :authorization_name, class:"input"} %>
  </div>

  <div class="mt-1">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
