<p id="notice"><%= notice %></p>

<h1>Authorizations</h1>

<div class="row">
  <div class="col-2">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.each do |authorization| %>
      <tr>
        <td><%= authorization.name %></td>
        <td><%= link_to 'Show', authorization %> |
        <%= link_to 'Edit', edit_authorization_path(authorization) %> |
        <%= link_to 'Destroy', authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= link_to 'New Authorization', new_authorization_path %>
  </div>
</div>
