<p id="notice"><%= notice %></p>

<h1>Authorizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.each do |authorization| %>
      <tr>
        <td><%= authorization.name %></td>
        <td><%= link_to 'Show', authorization %></td>
        <td><%= link_to 'Edit', edit_authorization_path(authorization) %></td>
        <td><%= link_to 'Destroy', authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorization', new_authorization_path %>
