<div class="mx-auto">

<% if flash[:notice] %>
<div role="alert" class="alert">
    <p id="notice"><%= notice %></p>
</div>
<% end %>

<h1 class="font-bold">Authorizations</h1>
<div class="flex flex-row justify-start">
  <div>
    <table class="table table-sm table-zebra">
        <thead>
        <tr>
        <th>Name</th>
        <th></th>
        </tr>
        </thead>

        <tbody>
        <% @authorizations.each do |authorization| %>
        <tr>
            <td><%= authorization.name %></td>
            <td><%= link_to 'Show', authorization, :class=>'link' %> |
            <%= link_to 'Edit', edit_authorization_path(authorization), :class=>'link' %> |
            <%= link_to 'Destroy', authorization_path(authorization), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class=>'link' %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Authorization', new_authorization_path, :class=>'link' %>

</div>
