<%= form_with(model: tag_type, class: "w-full max-w-md") do |form| %>
  <% if tag_type.errors.any? %>
    <div class="alert alert-error shadow-sm mb-4">
      <ul class="list-disc list-inside text-sm">
        <% tag_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control mb-3">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, id: :tag_type_name, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control mb-3">
    <%= form.label :decoder, class: "label" %>
    <%= form.select :decoder, TagType.decoders.keys, {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
