<p id="notice"><%= notice %></p>

<h1>Tagscans</h1>

<table>
  <thead>
    <tr>
      <th>Create date</th>
      <th>Epc</th>
      <th>Pc</th>
      <th>Antenna</th>
      <th>Rssi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tagscans.each do |tagscan| %>
      <tr>
        <td><%= tagscan.created_at %></td>
        <td><%= tagscan.epc %></td>
        <td><%= tagscan.pc %></td>
        <td><%= tagscan.antenna %></td>
        <td><%= tagscan.rssi %></td>
        <td><%= link_to 'Show', tagscan %></td>
        <td><%= link_to 'Edit', edit_tagscan_path(tagscan) %></td>
        <td><%= link_to 'Destroy', tagscan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagscan', new_tagscan_path %>
