<p id="notice"><%= notice %></p>

<% if @tagscan.tag %>
<p>
  <strong>EPC:</strong>
  <%= @tagscan.tag.epc %>
  (DEC = <%= @tagscan.tag.epc_dec %>)
</p>

<p>
  <strong>Pc:</strong>
  <%= @tagscan.tag.pc %>
</p>
<% end %>

<p>
  <strong>Antenna:</strong>
  <%= @tagscan.antenna %>
</p>

<p>
  <strong>Rssi:</strong>
  <%= @tagscan.rssi %>
</p>

<% if @tagscan.image.attached? %>
<p>
  <strong>Image:</strong>
  <%= link_to(image_tag(@tagscan.image.variant(resize_to_limit: [100,100])), url_for(@tagscan.image)) %>
</p>
<% end %>

<%= link_to 'Edit', edit_tagscan_path(@tagscan) %> |
<%= link_to 'Back', tagscans_path %>
