<p id="notice"><%= notice %></p>

<% if @tagscan.tag %>
<p>
  <strong>EPC:</strong>
  <%= @tagscan.tag.epc %>
  (DEC = <%= @tagscan.tag.epc_dec %>)
</p>

<p>
  <strong>Pc:</strong>
  <%= @tagscan.tag.pc %>
</p>
<% end %>

<p>
  <strong>Antenna:</strong>
  <%= @tagscan.antenna %>
</p>

<p>
  <strong>Rssi:</strong>
  <%= @tagscan.rssi %>
</p>

<%= link_to 'Edit', edit_tagscan_path(@tagscan) %> |
<%= link_to 'Back', tagscans_path %>
