<!DOCTYPE html>
<html>
  <head>
    <title>TagManagerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <span class="navbar-brand" href="#">TagManager</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-text ms-auto">
            <% if signed_in? %>
              <div><%= current_user.first_name %></div>
            <% end %>
          </div>
          <div class="navbar-text ms-2">
            <div>
              <% if signed_in? %>
              <%= button_to "Logout", sign_out_path, method: :delete %>
              <% else %>
              <%= link_to "Login", sign_in_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
