<!DOCTYPE html>
<html>
  <head>
    <title>TagManagerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-base-200">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
              <!-- TODO: Hero icon, do we want this? -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
          </div>
          <% if signed_in? %>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
            aria-labelledby="navbarDropdown">
            <li><%= link_to "Authorizations", authorizations_path, class: "dropdown-item" %></li>
            <li><%= link_to "Tags", tags_path, class: "dropdown-item" %></li>
            <li><%= link_to "Tag Scans", tagscans_path, class: "dropdown-item" %></li>
            <li><%= link_to "Tag Types", tag_types_path, class: "dropdown-item" %></li>
            <li class="divider-neutral"></li>
            <li><%= link_to "API Keys", api_keys_path, class: "dropdown-item" %></li>
            <li><%= link_to "Readers", readers_path, class: "dropdown-item" %></li>
            <li><%= link_to "Users", users_path, class: "dropdown-item" %></li>
          </ul>
          <% end %>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost text-xl" href="#">TagManager</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-text ms-auto">
          <% if signed_in? %>
            <div><%= link_to current_user.first_name, user_path(current_user) %></div>
          <% end %>
        </div>
        <div class="navbar-text ms-2">
          <div>
            <% if signed_in? %>
            <%= button_to "Logout", sign_out_path, method: :delete, class: "btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex flex-wrap flex-col justify-center">
      <%= yield %>
    </div>
  </body>
</html>
